@model IEnumerable<ShoppingCartApp.ViewModels.CartProductViewModel>

@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>View</h2>


<table class="table">
    <thead>
        <tr>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            @if (Model.Any() == true)
            {
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td>
                        <H1>"Your Shopping Cart is empty"</H1>
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td>
                    <H1>"Your Shopping Cart is empty"</H1>
                </td>
            </tr>
        }
    </tbody>
</table>
